@model BugTracker.Models.ViewModels.AssignDevViewModel

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form asp-action="AssignTicket" method="post">
                        <input asp-for="@Model.Ticket.Id" hidden />

                        <input asp-for="@Model.Ticket.ProjectId" hidden />
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-12">
                                <label>Select Dev</label>
                                <div class="form-group">
                                    <select class="form-control show-tick" asp-for="DeveloperId" asp-items="Model.Developers">
                                        <option>Select Dev</option>
                                    </select>
                                </div>
                                <div class="mt-4 form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button asp-action="Dashboard" asp-controller="Home" class="btn btn-primary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>