@page


@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    
}



<div class="card-body bg-white">
    <div class="border p-4 rounded">
        <div class="row">
            <div class="col">
                <section>
                    <p>
                        <strong>Buggy</strong>
                        <br /><i>Ticket Tracking System</i>
                        <br /><i>Win the Battle Against Broken Code!!!</i> 
                    </p>
                    <p>
                        Buggy, <br />
                        This sofware developed using ASP.Net MVC,BootStrap 5, and Entity Framework Core.
                    </p>
                </section>
                <section>
                    <div class="mt-5">
                        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Try It Out!</a>
                        @*<a href="javascript:;" class="btn btn-lg btn-primary px-md-5 radius-30">Go Home</a>
        <a href="javascript:;" class="btn btn-lg btn-outline-dark ms-3 px-md-5 radius-30">Back</a>*@
                    </div>
                    @*@{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }*@
                </section>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
